.padding-dialog {
  padding: 20px 24px 20px 24px;
}

p{
    margin: 0;
    color: #fff;
}

h1{
    color: #c2185b;
    font-weight: bold;
}
  
.container {
    display: flex;
}

label{
    padding-left: 10px;
}

span{
    color: white;
}

.padding-10{
    padding-top: 15px;
    padding-bottom: 15px;
}