.mdc-dialog__surface {
  background-color: rgb(128, 128, 129) !important;
}

.mat-table-scrollable {
  width: 100%;
  overflow-x: auto;
}

.aligned-cell {
  display: flex;
  align-items: center;
}

.tamanho {
  height: 85px !important;
}
