.width-card {
  max-width: 100%;
  display: flex;
  margin-top: 20px;
}

.width-100 {
  width: 40%;
}

.button-size {
  height: 44px;
  width: 100%;
  max-width: 244px;
}

.mat-step-label {
  font-size: 14px;
}

.mat-input-element {
  font-size: 14px;
}

p{
  color: #fff;
}